body {
  font-family: 'Fredoka', sans-serif;
  background: #fef3c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #facc15;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  background: #facc15;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

body {
  font-family: 'Fredoka', sans-serif;
  background: #fef3c7;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

canvas.background-binary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 1; /* ya controlamos con el fillStyle */
  pointer-events: none;
}

.login-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #1e293b;
}
